<!DOCTYPE html>
<html>
<head>
    <title>Edit <%= todo %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: linear-gradient(to top right, #1800ea 0%, #f4000c 100%);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            background-color: #c899d0;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 400px;
            text-align: center;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Edit <%= todo %>:</h1>
        <form action="/todo/edit/<%= todoIdx %>" method="post">
            <p>
                <label for="editTodo">Change to:</label>
                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="editTodo" id="editTodo" autofocus placeholder="<%= todo %>" />
                <input type="submit" value="Save" />
            </p>
        </form>
    </div>
</body>
</html>
