<!DOCTYPE html>
<html>
<head>
    <title>Nodejs todol-ist WebApp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: linear-gradient(to top right, #1800ea 0%, #f4000c 100%);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            background-color: #c899d0;
            border-radius: 2px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 400px;
            text-align: center;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
        }

        a {
            text-decoration: none;
            color: #333;
            font-size: 18px;
            margin-left: 10px;
        }

        a:hover {
            color: #e74c3c;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            margin-top: 10px; /* Added margin to adjust alignment */
        }

        input[type="submit"]:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Todo List Web App v1.0</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <span><%- todo %></span>
                <span>
                    <a href="/todo/<%= index %>">✎</a>
                    <a href="/todo/delete/<%= index %>">✘</a>
                </span>
            </li>
            <% }); %>
        </ul>
        <form action="/todo/add/" method="post">
            <label for="newtodo">Add your new To Do here!</label>
            <input type="text" name="newtodo" id="newtodo" autofocus />
            <input type="submit" value="Add" />
        </form>
    </div>
</body>
</html>
